
@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  // margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 20px;
  @include mobile {
    gap: 30px;
    max-width: 100%;
    flex-direction: column;
  }

  .textContainer {
    padding-left: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 10px;
      text-align: center;
      align-items: center;
      padding-top: 80px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;
      @include tablet{
        font-size: 80px;
      }

      @include mobile {
        font-size: 60px;
      }
    }
    h2{
      font-size: 35px;
      @include tablet{
        font-size: 25px;
      }

      @include mobile {
        font-size: 20px;
      }
    }

    span {
      font-weight: 400;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    padding-right: 20px;
    @include mobile {
      padding: 0 50px;
      width: 100%;
    }


    .phoneSvg {
      stroke: orange;
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%,-50%);
      z-index: -1;

      @include mobile{
        svg{
          text-align: center;
          width: 320px;
          height: 320px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include mobile{
        gap: 10px;
        padding-bottom: 10px;
      }
      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        
        @include mobile {
          padding: 10px;
          max-width: 400px;
          min-width: 200px;
        }
      }
      button {
        border-radius: 5px;
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        @include mobile {
          padding: 10px;
          min-width: 200px;
          max-width: 400px;
        }
      }
    }
  }
}



